abbr {
    cursor: help;
    display: inline-block;
    font-family: var(--courrier);
    font-weight: bold;
    text-indent: 0;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dotted;
}
abbr::after {
    content: attr(title);
    margin-left: 0;
    padding: .3em;
    font-size: 0;
    font-weight: normal;
    text-transform: none;
    color: var(--dark);
    background-color: color(var(--neutral) tint(50%));
    transition: all 0.2s linear;
}
abbr:hover {
    border-color: transparent;
}
abbr:hover::after {
    margin-left: .5em;
    font-family: var(--serif);
    font-size: inherit;
}