a {
    cursor: default;
    position: relative;
    text-decoration: none;
    transition: background .3s ease;
}

a:visited {
    color: var(--again);
}

a:link, a:link:hover {
    color: var(--action);
}

a:link {
    cursor: pointer;
}

a:link:hover:active,
a:link:active {
    background-color: var(--primary);
}

a[href=""] {
    cursor: default;
    text-decoration: line-through;
    color: var(--code-error);
}

a:link[target="_blank"] {
  cursor: alias;
}

a:link[target="_blank"]::after {
    border-bottom-width: .05em;
}

p a:link::after {
    content: "";
    position: absolute;
    bottom: -0.05em;
    left: 0;
    width: 1em;
    height: .05em;
    border-bottom: .1em solid;
    transition: all 0.2s linear;
}

p a:focus:after,
p a:hover::after {
    width: 100%;
}

p a[href=""]::after,
p a[href^="#"]::after {
    content: none;
}

p a[href^="www"]::before,
p a[href^="http"]::before {
    content: "\22EE";
    opacity: 0.5;
}

p a[href^="mailto:"]::before {
    content: "\2709\0020";
}