blockquote {
    position: relative;
    max-width: 88%;
    margin: 1.5em auto;
    padding: 1em;
    font-family: var(--serif);
    font-size: 1.1em;
    line-height: 1.2;
    text-align: justify;
    letter-spacing: -0.5px;
}

blockquote::before,
blockquote::after {
    position: absolute;
    font-size: 6rem;
    line-height: 6rem;
    color: var(--neutral);
}

blockquote::before {
    content: "\275D";
    margin-left: -.8em;
}

blockquote::after {
    content: "\275E";
    margin-left: .6em;
}
