blockquote {
    position: relative;
    margin: 1.5em 0;
    padding: 1em;
    padding-right: 22%;
    font-family: var(--serif);
    font-size: 1.1em;
    line-height: 1.2;
    text-align: justify;
    letter-spacing: -0.03em;
    border-left: .5em solid color(var(--neutral) tint(50%));
    background-color: color(var(--neutral) tint(80%));
}

blockquote::after {
    opacity: 0.1;
    position: absolute;
    font-size: 6rem;
    line-height: 6rem;
}

blockquote::after {
    content: "\275E";
    margin-left: .6em;
}
