code {
    display: block;
    overflow-x: scroll;
    padding: 1em;
    font-family: var(--monospace);
    font-size: 1.2rem;
    color: var(--code);
    background-color: var(--code-background);
    border-radius: .2em;
}

code u {
    text-decoration: none;
    color: var(--code-error);
}

code b {
    font-weight: normal;
    color: var(--light);
}

code i {
    font-style: normal;
    color: var(--code-quiet);
}


code em {
    font-style: normal;
    font-weight: normal;
    color: var(--primary);
}

code strong {
    font-weight: normal;
    color: var(--accent);
}