dfn {
  margin-right: .85em;
  padding: .25em .85em;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85em;
  font-style: oblique;
  font-family: var(--sans-serif);
  background-color: rgba(0, 0, 0, 0.05);
  border-right: 3px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
