figure {
  width: fit-content;
  margin: 1.5em auto;
  padding: 1em;
    background-color: rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: .2em;
}

figure img {
  border: 0.05em solid white;
}

figcaption {
	text-align: center;
	font-size: 0.9em;
	font-family: var(--courrier);
}

figcaption:first-child {
 	padding-bottom: 0.5em;
	font-weight: 700;
	text-transform: uppercase;
    border-bottom: 0.2em ridge white;
}



figure figcaption:last-child {
  font-size: 0.9em;

	letter-spacing: -0.05em;
	background-color: rgba(255, 255, 255, 0.20);
}

figure * + * {
	margin-top: 0.5em;
}
