h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-family: var(--brand);
    font-weight: 400;
    line-height: 1;
    color: black;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
    letter-spacing: -2px;
}


h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4.0rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.4rem;
}

h6 {
    font-size: 2.0rem;
}


h1 + h2,
h3 + h4,
h5 + h6 {
    margin-top: 0.5em;
    font-family: var(--sans-serif);
    color: var(--medium);
}
