kbd {
    padding: 0.4em 0.5em 0.15em;
    font-family: var(--monospace);
    font-size: 0.7em;
    color: var(--dark);
    background-color: var(--neutral);
    border: .05em solid color(var(--neutral) shade(20%));
    border-radius: .2em;
}