q {
    font-style: italic;
    color: var(--medium);
}

q::before,
q::after {
    vertical-align: text-bottom;
    font-size: 2em;
    font-style: normal;
    line-height: 0;
    color: var(--neutral);
}

q::before {
    content: "\275D";
    margin-left: 0.2em;
    margin-right: 0.15em;
}

q::after {
    content: "\275E";
    margin-left: 0.15em;
    margin-right: 0.2em;
}