table {
  width: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

table table {
  outline: 3px solid rgba(255,255,255,0.5);
}

caption {
    padding: 1em 0;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: .5em solid color(var(--neutral) tint(50%));
}

th,
td {
    position: relative;
    padding: .5em 1em;
    border: .05em solid color(var(--neutral) tint(50%));
}

th::after,
td::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
}

th::after {
    background-color: color(var(--medium) tint(3%));
}

td::after {
    top: .05em;
    left: .05em;
    background-color: color(var(--light) shade(3%));
}

tr:hover td::after {
    top: 0;
    left: 0;
    background-color: color(var(--light) shade(5%));
}

th {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: normal;
    font-size: .8em;
    color: var(--light);
    border-color: color(var(--light) shade(10%)); 
}

th + th::before {
    content: "";
    position: absolute;
    top: 0;
    left: -.05em;
    height: 100%;
    border-left: .05em solid var(--neutral);
}


tfoot td::after {
  background-color: color(var(--light) shade(7%));
}
